<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.pelagos.daemon</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/path/to/pelagos/Pelagos.app/Contents/MacOS/Pelagos</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>/logs_folder/pelagos.stdout.log</string>
    
    <key>StandardErrorPath</key>
    <string>/logs_folder/pelagos.stderr.log</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    
    <key>WorkingDirectory</key>
    <string>/path/to/pelagos</string>
</dict>
</plist>
